.masonry a {
    color: #000;
    text-decoration: none;
}

.masonry a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.masonry-item {
    width: 33.333%;
    padding: 2%;
    box-sizing: border-box;
}


/*
@media (max-width: 1200px) {
    .masonry-item {
        width: 25%;
    }
}

@media (max-width: 992px) {
    .masonry-item {
        width: 33.333%;
    }
}
*/

@media (max-width: 768px) {
    .masonry-item {
        width: 50%;
    }
}


/* from bootstrap */

.container {
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/*@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
*/